.layer {
    position:absolute;
    left:0px;
    top:0px;
    background:rgba(63, 62, 62, 0.4);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=80);  /*设置透明度为80%*/
    opacity:0.8;  /*非IE浏览器下设置透明度为80%*/
    display:block; 
    z-Index:999; 
}